.login {
  border: none;
  margin: 20px;
  background-color: rebeccapurple;
}
.loginWrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__Left {
  flex: 7;
}
.login__right {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login__input {
  height: 405px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login__input > input {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}
.login__input > button {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.btn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .loginWrapper {
    flex-direction: column;
    position: relative;
  }
  .login__input {
    position: absolute;
    top: 40px;
    left: 20px;
  }
}
.sample {
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 10px;
}
.sample > span {
  margin-bottom: 10px;
}
