.signup {
  border: none;
  margin: 20px;
}
.signupWrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup_left {
  flex: 7;
  background-color: rebeccapurple;
}
.signup_right {
  background-color: rebeccapurple;
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.signup_right_wrapper {
  height: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.signup_right_wrapper > input {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}
.signup_right_wrapper > button {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.btn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
